html
    head
        title='Dashboard'
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='https://code.jquery.com/jquery-3.1.1.min.js')
        script(src='/js/Client.js')
    body
        div(class='container-fluid')
            div(class='center')
                div(class='title')
                    p='Dashboard'
                div(class='dashboard_tabs')
                    button(id= 'resumes_tab',
                        class='dashboard_tab_focussed',
                        type='button',
                        onclick='selectDashboardTab("' + 'resumes_tab' + '")')='Resumes'
                    button(id= 'jobs_tab',
                        class='dashboard_tab',
                        type='button',
                        onclick='selectDashboardTab("' + 'jobs_tab' + '")')='Jobs'
                    button(id= 'comparison_tab',
                        class='dashboard_tab',
                        type='button',
                        onclick='selectDashboardTab("' + 'comparison_tab' + '")')='Comparison'
                div(id='resumes_tab_content', class='dashboard_tab_content')
                    label(style='text-decoration: underline;')='Select Model'
                    form(class='training-form', name='resumesModelForm')
                        input(type='radio', name='resumesModelType', value='LogisticRegression', checked=true)
                        label(class='model-labels')='Logistic Regression'
                        <br/>
                        input(type='radio', name='resumesModelType', value='SVM')
                        label(class='model-labels')='SVM'
                        <br/>
                        input(type='radio', name='resumesModelType', value='RandomForest')
                        label(class='model-labels')='Random Forest'
                        <br/>
                        input(type='radio', name='resumesModelType', value='NaiveBayes')
                        label(class='model-labels')='Naive Bayes'
                        <br/>
                        input(type='radio', name='resumesModelType', value='FastText')
                        label(class='model-labels')='FastText'
                        <br/>
                    <br/>
                    label(style='text-decoration: underline;')='Select Feature'
                    form(class='training-form', name='resumesFeatureForm')
                        input(type='radio', name='resumesFeatureType', value='tf-df')
                        label(class='model-labels')='tf-df'
                        <br/>
                        input(type='radio', name='resumesFeatureType', value='word-embeddings')
                        label(class='model-labels')='word embeddings'
                        <br/>
                        input(type='radio', name='resumesFeatureType', value='sentence-embeddings')
                        label(class='model-labels')='sentence embeddings'
                        <br/>
                    <br/>
                    button(id='train_button'
                        class='train-test-button',
                        type='button',
                        onclick='train("' + 'resumes' + '")')='Train'
                    button(id='test_button'
                        class='train-test-button',
                        type='button',
                        onclick='test("' + 'resumes' + '")')='Test'
                    div(id='results', class='results')
                div(id='jobs_tab_content', class='no-display')
                    label(style='text-decoration: underline;')='Select Model'
                    form(class='training-form', name='jobsModelForm')
                        input(type='radio', name='jobsModelType', value='LogisticRegression', checked=true)
                        label(class='model-labels')='Logistic Regression'
                        <br/>
                        input(type='radio', name='jobsModelType', value='SVM')
                        label(class='model-labels')='SVM'
                        <br/>
                        input(type='radio', name='jobsModelType', value='FastText')
                        label(class='model-labels')='FastText'
                        <br/>
                    <br/>
                    label(style='text-decoration: underline;')='Select Feature'
                    form(class='training-form', name='jobsFeatureForm')
                        input(type='radio', name='jobsFeatureType', value='tf-df')
                        label(class='model-labels')='tf-df'
                        <br/>
                        input(type='radio', name='jobsFeatureType', value='word-embeddings')
                        label(class='model-labels')='word embeddings'
                        <br/>
                        input(type='radio', name='jobsFeatureType', value='sentence-embeddings')
                        label(class='model-labels')='sentence embeddings'
                        <br/>
                    <br/>
                    button(id='train_button'
                        class='train-test-button',
                        type='button',
                        onclick='train("' + 'jobs' + '")')='Train'
                    button(id='test_button'
                        class='train-test-button',
                        type='button',
                        onclick='test("' + 'jobs' + '")')='Test'
                    div(id='results', class='results')
                div(id='comparison_tab_content', class='no-display')
                    button(id='train_button'
                        class='train-test-button',
                        type='button')='Train'
                    button(id='test_button'
                        class='train-test-button',
                        type='button')='Test'
                    div(id='results', class='results')